/* main css */
.WithusMain {
  position: relative;
  background: #ededf7;
  height: 670px;
}
.WithusMain h2 {
  position: relative;
  color: #3c476c;
  font-size: 33px;
  top: 55px;
}
.WithusWrapper {
  max-width: 78em;
  margin: 0 auto;
}
/* left part */
.WithusLeft {
  float: left;
  width: 40em;
}
.WithusImage {
  height: 50vh;
  margin-top: 55px;
}
/* right part */
.WithusRight {
  float: right;
  height: 350px;
  width: 38em;
  text-align: left;
  margin-top: 5%;
}
.WithusRight h3 {
  color: #3c476c;
  font-size: 26px;
  margin-left: 40px;
}

.WithusRight ul li {
  list-style-type: none;
  color: #3c476c;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0px;
}
.WithusRight li span {
  margin: 15px;
}
.WithusRight ul li:before {
  font-family: FontAwesome;
  content: "\f00c";
  color: #6c6ce5;
  border-radius: 13px;
  background: #d9d9f9;
  padding: 7px;
}

/* responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .WithusMain {
    height: 800px;
  }
  .WithusMain h2 {
    font-size: 20px;
  }
  .WithusWrapper {
    max-width: 35em;
    margin: 0 auto;
  }
  .WithusImage {
    height: 25vh;
  }
  .WithusLeft {
    width: 22em;
  }
  .WithusRight {
    width: 30em;
    margin: 0 auto;
  }
  .WithusRight h3 {
    font-size: 22px;
  }
  .WithusRight ul li {
    font-size: 18px;
    padding: 20px 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .WithusWrapper {
    max-width: 50em;
    margin: 0 auto;
  }
  .WithusImage {
    height: 25vh;
  }
  .WithusLeft {
    width: 20em;
  }
  .WithusRight {
    width: 25em;
  }
  .WithusRight h3 {
    font-size: 18px;
  }
  .WithusRight ul li {
    font-size: 16px;
    padding: 20px 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .WithusWrapper {
    max-width: 58em;
    margin: 0 auto;
  }
  .WithusImage {
    height: 38vh;
    margin-top: 55px;
  }
  .WithusLeft {
    width: 27em;
  }
  .WithusRight {
    width: 27em;
  }
  .WithusRight h3 {
    font-size: 19px;
  }
  .WithusRight ul li {
    font-size: 17px;
    padding: 20px 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .WithusWrapper {
    max-width: 68em;
    margin: 0 auto;
  }
  .WithusImage {
    height: 40vh;
    margin-top: 55px;
  }
  .WithusLeft {
    width: 32em;
  }
  .WithusRight {
    width: 35em;
  }
  .WithusRight h3 {
    font-size: 23px;
  }
  .WithusRight ul li {
    font-size: 18px;
    padding: 20px 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .WithusWrapper {
    max-width: 78em;
    margin: 0 auto;
  }
  .WithusImage {
    height: 50vh;
  }
  .WithusLeft {
    width: 40em;
  }
  .WithusRight {
    width: 38em;
  }
  .WithusRight h3 {
    font-size: 26px;
  }
  .WithusRight ul li {
    font-size: 20px;
    padding: 20px 0px;
  }
}
